@import "tailwindcss";
@plugin "daisyui";


.circle {

    border-top: dotted 10px rgb(130, 133, 134);
    border-right: dotted 10px rgb(97, 139, 156);
    border-bottom: dotted 10px rgb(63, 150, 190);
    border-left: dotted 10px rgb(0, 183, 255);
    height: 80px;
    width: 80px;
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
    /* position: ; */

}

.favorite-items-container{
    background: rgba(128, 128, 128, 0.705);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position:fixed;
    top:0;
    left: 0;
    /* right: -10%; */
    border: solid tomato 1px;
    overflow: hidden;

}
.favorite-items{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90%;
    overflow-y: auto;
    /* scrollbar-width:none; */
    scrollbar-color: white;
    
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg)
    }
}